# Dependencias
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
build

# Vite / cache
.vite

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Editor / OS
.vscode
.idea
.DS_Store

# Env
.env
.env.*