.dashboard-page {
    padding: 20px;
    width: 100%;

    h1 {
        font-size: 24px;
    }

    .dashboard-page_info {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 11px;
        color: var(--color-text-secondary);
    }
}






/*
        <section className="dashboard-page">
            <h1 className="dashboard-page_header">Bienvenid@ {user?.name}</h1>

            <article className="card">
                <p className="card_header">Tu perfil</p>
                <div className="card_logo">
                    <h2 className="logo-user">{initials}</h2>
                </div>
                <div className="card_userInfo">
                    <p><User className="iconSvg" /><strong>Name:</strong> {user?.name} {user?.surname}</p>
                    <p><Mail className="iconSvg" /><strong>Correo:</strong> {user?.email}</p>
                </div>
                <div className="card_badge">{getRoleBadge()}</div>
            </article>
*/