:root {
  --primary: #00ff85;
  --primary-hover: #03e468;
  --secondary: #1cf9fc;

  --text-secondary: #767f8f;

  --sidebar-bg: #ffffff;
  --sidebar-text: #111827;
  --sidebar-hover-bg: #f3f4f6;
  --sidebar-hover-text: #111827;
  --sidebar-border-color: #e5e7eb;
}